.NavigationItem {
    margin: 10px 0;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a {
    margin-right: 10px;
    color: #fff;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
}

.NavigationItem a:hover,
.NavigationItem a:active,
.NavigationItem a.active {
    color: #edbb00;
}